<div class="page-content">
    <div id="top-container">
      <div id="left-container">
        <div class="left-text">
            <p>
              <i>MACHINE LEARNING</i> provides a means of mathematically representing words as two-dimensional vectors called "embeddings".
              Using these word vectors, I create compositions by translating hand-drawn shapes according using the vector dimensions as x, y values.
            </p>
            <p>
              Below are scatterplots of embeddings of six poems, learned across the poet's entire corpus.
            </p>
        </div>
        <img style="width:100% !important;" src="../../assets/word_embeddings.png" alt="">
      </div>
      <div id="right-container">
          <img class="right-container-img-ml" style="margin-left: 3%;" src="../../assets/b1 little gidding small.jpg" alt="">
          <img class="right-container-img-ml" src="../../assets/b2 east coker tilt small.jpg" alt="">
      </div>
    </div>
    <div id="bottom-container">
    </div>
  </div>
