<div class="page-content">
  <div id="top-container">
    <!-- <img id="about-img" src="../../assets/about-img.png" alt="about img :)"> -->
    <!-- <img id="about-img" src="../../assets/katagami.jpg" alt=""> -->
    <!-- <img id="about-img" src="../../assets/eliot_block.png" alt=""> -->
    <img id="about-img" src="../../assets/studio.jpg" alt="">
    <div id="mission-statement-container">
        <p id="mission-statement"> <i><b>Programmatic Studio</b></i> is a workshop and information repository seeking to harmonize traditional printmaking, papermaking, and fiber-based crafts with computational techniques.</p>
        <a class="laura-link" href="https://www.lauraasher.com/">www.lauraasher.com</a>
    </div>
  </div>
</div>
