#top-container {
  /* width: 0%; */
  margin: auto;
}
#mission-statement-container {
  float: left;
  width: 25%;
  margin-left: 2%;
}
#mission-statement {
  text-align: left;
  font-size: 1.2vw;
  color: #707070;
}
#about-img {
  width: 35%;
  float: left;
  margin-left: 16%;
  margin-top: 1%;
}
.laura-link {
  color: #707070 !important;
  text-align: left;
  float: left;
  font-size: 0.9vw;
}
@media screen and (max-width: 768px) {
  #top-container {
    text-align: center;
  }
  #about-img {
    float: none;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #mission-statement-container {
    float: none;
    margin: auto;
    width: 80%;
  }
  #mission-statement {
    text-align: center;
    font-size: 2.0vh;
  }
  .laura-link {
    color: #707070 !important;
    text-align: center;
    font-size: 1.8vw;
  }
}
