<div class="page-content">
  <div id="top-container">
    <img id="top-img" src="../../assets/katazome.jpg" alt="">
    <!-- <img id="top-img" src="../../assets/katazome_1.jpg" alt=""> -->
    <div id="top-statement-container">
    </div>
  </div>
  <div id="bottom-container">
    <div class="page-content-central-text-block">
      <p><i>Katazome</i> is a Japanese method of resist-dyeing fabric using very fine paper stencils, <i>katagami</i>, traditionally cut by hand. Numerically-generated images on dyed fabrics are made possible by laser-cutting the  <i>katagami</i>.</p>
      <!-- Resist paste made of various recipes consisting mostly of rice paste is squeezed through the katagami. The paste is water resist up to a point. When the fabric is then dipped in a dye vat, the paste image remains the color of the fabric. -->
      <p><a href="https://dl.designresearchsociety.org/cgi/viewcontent.cgi?article=2464&context=drs-conference-papers">Adaptability of the Materials of the Japanese Traditional Dyeing Paper Stencils for Producing with a Laser Cutter</a> by Mikako Okita and Toshiaki Takesue is an excellent resource for learning about the history of this craft as well as adapting it for a laser cutter.</p>
    </div>
  </div>
</div>
