<div class="page-content">
  <div id="top-container">
    <img id="top-img" src="../../assets/sugar_lift_sample_v2.jpg" alt="sugar lift and icing sugar aquatint">
    <!-- <img id="top-img" src="../../assets/ee_sample_2.jpg" alt="sugar lift and icing sugar aquatint"> -->
    <!-- <div id="top-statement-container">
        <p id="top-statement">Electroetching on copper<br><i>with sugar lift and sugar lift aquatint</i></p>
    </div> -->
  </div>
  <div id="bottom-container">
    <div class="page-content-central-text-block">
        <p>Electroetching is a less-toxic method for etching copper plates than traditional acid-based baths. Illustrated here are electroetching equivalents to traditional plate resist techniques (hard and soft ground, sugar lift, aquatint), as well as techniques that explore electroetching's unique characteristics.
          <i>Above image is sampled from an electroetched copper plate with sugar lift aquatint and icing sugar aquatint.</i></p>
      </div>
  </div>
</div>
