#logo {
  margin: auto;
  height: 5vw;
  display: block;
  cursor: pointer;
  outline: none;
}
h3 {
  /* font-size: 0.85vw; */
  font-size: 1.1vw;
  cursor: pointer;
  outline: none;
}
h4 {
  /* font-size: 0.85vw; */
  font-size: 1.1vw;
  color: #707070;
  cursor: pointer;
  outline: none;
}
.category-item {
  cursor: none !important;
}
#logo-container {
  margin-bottom: 4%;
}
#menu {
  align-content: center;
  text-align: center;
}
#menu-container {
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
}
.menu-item {
  display: inline;
}
.menu-item-container-h3 {
  margin-left: 4%;
  display: inline;
}
.menu-item-container-h4 {
  margin-left: 3%;
  display: inline;
}
.cursor{
  margin-right: 0.5%;
  vertical-align: middle;
  text-align: center;
  height: 0.8vw;
}
.show {
  display: inline-flex;
}
.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  #logo {
    margin: auto;
    height: 8vh;
    display: block;
    cursor: pointer;
  }
  h3 {
    font-size: 1.6vh;
    cursor: pointer;
  }
  h4 {
    font-size: 1.6vh;
    color: #707070;
    cursor: pointer;
  }
  .cursor{
    height: 1.0vh;
    line-height: 1.0vh;
    margin-top: 0.4vh;
  }
  #menu-container {
    width: 78%;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }
}
/* @media screen and (orientation: landscape) {
  header nav {
    position: fixed;
    left: 0;
    width: 20vw;
  }
} */

