<div>
  <div id="logo-container">
    <img routerLink="/" id="logo" src="assets/programmatic.svg">
  </div>
  <div id="menu-container">
    <span id="menu">
      <!-- <div>
        <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div> -->
      <div>
        <div class="menu-item-container-h3" style="margin-left: 0px !important;">
          <img class="cursor" [ngClass]="{'show' : aboutToggle, 'hide': !aboutToggle}" src="assets/right-tri.svg">
          <h3 class="menu-item"
          [ngClass]="{'selected-menu-item' : aboutToggle, 'regular-menu-item': !aboutToggle}"
          (click)="enableDisableRule('about')"
          routerLink="/">about</h3>
        </div>
        <div class="menu-item-container-h4">
          <img class="cursor" [ngClass]="{'show' : plotterToggle, 'hide': !plotterToggle}" src="assets/right-tri.svg">
          <h4 class="menu-item"
          [ngClass]="{'selected-menu-item' : plotterToggle, 'regular-menu-item': !plotterToggle}"
          (click)="enableDisableRule('plotter')"
          routerLink="/plotter">plotter printing</h4>
        </div>
        <div class="menu-item-container-h4">
            <img class="cursor" [ngClass]="{'show' : mlToggle, 'hide': !mlToggle}" src="assets/right-tri.svg">
            <h4 class="menu-item"
            [ngClass]="{'selected-menu-item' : mlToggle, 'regular-menu-item': !mlToggle}"
            (click)="enableDisableRule('ml')"
            routerLink="/ml">machine-learning pictorials</h4>
          </div>
        <div class="conditional-break">
          <br>
        </div>
        <div class="menu-item-container-h4">
            <img class="cursor" [ngClass]="{'show' : soundToggle, 'hide': !soundToggle}" src="assets/right-tri.svg">
            <h4 class="menu-item"
            [ngClass]="{'selected-menu-item' : soundToggle, 'regular-menu-item': !soundToggle}"
            (click)="enableDisableRule('sound')"
            routerLink="/sound">sound pictorials</h4>
          </div>
        <!-- <div class="menu-item-container-h3">
          <h3 class="menu-item category-item">process</h3>
        </div> -->
        <!-- <div class="menu-item-container-h4">
            <img class="cursor" [ngClass]="{'show' : etchingToggle, 'hide': !etchingToggle}" src="assets/right-tri.svg">
            <h4 class="menu-item" (click)="enableDisableRule('etching')"  routerLink="/etching">electro-etching</h4>
        </div> -->
        <div class="menu-item-container-h4">
          <img class="cursor" [ngClass]="{'show' : katazomeToggle, 'hide': !katazomeToggle}" src="assets/right-tri.svg">
          <h4 class="menu-item"
          [ngClass]="{'selected-menu-item' : katazomeToggle, 'regular-menu-item': !katazomeToggle}"
          (click)="enableDisableRule('katazome')"
          routerLink="/katazome">laser-enabled katazome</h4>
        </div>
        <!-- <div class="menu-item-container-h3">
          <img class="cursor" [ngClass]="{'show' : studioToggle, 'hide': !studioToggle}" src="assets/right-tri.svg">
          <h3 class="menu-item" (click)="enableDisableRule('studio')"  routerLink="/studio">studio</h3>
        </div>
        <div class="menu-item-container-h4">
          <img class="cursor" [ngClass]="{'show' : printgalleryToggle, 'hide': !printgalleryToggle}" src="assets/right-tri.svg">
          <h4 class="menu-item" (click)="enableDisableRule('printgallery')"  routerLink="/printgallery">prints</h4>
        </div>
        <div class="menu-item-container-h4">
          <img class="cursor" [ngClass]="{'show' : textilegalleryToggle, 'hide': !textilegalleryToggle}" src="assets/right-tri.svg">
          <h4 class="menu-item" (click)="enableDisableRule('textilegallery')"  routerLink="/textilegallery">textiles</h4>
        </div> -->
      </div>
    </span>
  </div>
</div>
