#logo {
  margin: auto;
  height: 8.5vh;
  display: block;
}
h3 {
  font-size: 1.5vh;
  /* margin-left: 5%; */
  cursor: pointer;
}
h4 {
  font-size: 1.5vh;
  color: #707070;
  /* margin-left: 3%; */
  cursor: pointer;
}
.category-item {
  cursor: none !important;
}
#logo-container {
  margin-bottom: 5%;
}
#menu-container {
  width: 90%;
  justify-content: space-evenly;
}
.menu-item {
  display: inline;
}
.menu-item-container-h3 {
  margin-left: 5%;
  display: inline;
}
.menu-item-container-h4 {
  margin-left: 3%;
  display: inline;
}
.cursor{
  margin-right: 0.5%;
  vertical-align: middle;
  text-align: center;
  height: 10px;
}
.show {
  display: inline-flex;
}
.hide {
  display: none;
}
