#logo {
  margin: auto;
  height: 8.5vh;
  display: block;
}
h3 {
  font-size: 1.5vh;
  margin-left: 5%;
  cursor: pointer;
}
h4 {
  font-size: 1.5vh;
  color: #707070;
  margin-left: 3%;
  cursor: pointer;
}
#logo-container {
  margin-bottom: 5%;
}
#menu-container {
  width: 90%;
  justify-content: space-evenly;
}
.menu-item {
  display: inline;
}
.menu-item-container {
  display: inline;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}
