<div class="page-content">
    <div id="top-container">
      <div id="left-container">
        <div class="left-text">
            <p>
              PLOTTER PRINTING is something I use daily in my printmaking practice. Prints can be made with purely digital marks, or hand marks that have been digitized.
              Using web software and a graphics library called d3.js, I create data-driven compositions and use AxiDraw plotters to create unique or edition work.
            </p>
            Equipment:
              <ul>
                <li>AxiDraw SE/A3 11”x17” working area</li>
                <li>AxiDraw SE/A1 34”x22” working area</li>
              </ul>
        </div>
        <img style="width:100% !important;" src="../../assets/plotter.gif" alt="">
      </div>
      <div id="right-container">
          <img class="right-container-img" src="../../assets/b1 little gidding small.jpg" alt="">
          <img class="right-container-img" src="../../assets/b2 east coker tilt small.jpg" alt="">
      </div>
    </div>
    <div id="bottom-container">
    </div>
  </div>
