#top-img-container {
  margin-left: 10%;
}
img {
  float: left;
  display: inline;
  width: 40%;
  margin-left: 1%;
}
@media screen and (max-width: 768px) {
  img {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 2%;
  }
  #top-img-container {
    margin: auto;
  }
}
