/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Effra Rg";
  src: local("Effra Rg"), url(./assets/fonts/Effra_Std_Rg.ttf) format("truetype");
}
@font-face {
  font-family: "Effra Lt";
  src: local("Effra Lt"), url(./assets/fonts/Effra_Std_Lt.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Lt";
  src: local("Helvetica Neue Lt"), url(./assets/fonts/helvetica-neue-light.ttf) format("truetype");
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 3% !important;
  /* font-family: "Helvetica Neue Lt" */
  font-family: "Effra Lt"
}
.conditional-break {
  display: none;
}
.page-content {
  /* background-color: #F6F8F9; */
  /* background-color: #F5F8F9; */
  background-color: #f5f8fb;
  height: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.1vw;
  text-align: center;
}
.page-content-central-text-block {
  width: 60%;
  text-align: left;
  margin: auto;
}
#top-container {
  margin: auto;
  display: inline-block;
  margin-bottom: 3%;
}
#bottom-container {
  /* border-top: #707070;
  border-top-width: 0.5px;
  border-top-style: solid; */
}
#left-container {
  height: auto;
  float: left;
  width: 25%;
  text-align: left;
  font-size: 0.9vw;
}
#right-container {
  height: auto;
  float: right;
  width: 68%;
}
ul {
  margin-top: 0px;
}
#top-statement-container {
  float: left;
  width: 25%;
  margin-left: 2%;
}
#top-statement {
  text-align: left;
  font-size: 1.2vw;
  color: #707070;
}
/* #top-img {
  width: 40% !important;
  float: left;
  margin-left: 17%;
  margin-top: 1%;
} */
#top-img {
  width: 60% !important;
  margin: auto;
  float: none;
}
.right-container-img {
  width: 48% !important;
}
.left-container-img {
  margin-top: 5%;
}
@media screen and (max-width: 768px) {
  .page-content {
    font-size: 1.6vh;
    padding: 5%;
  }
  .conditional-break {
    display: block;
    line-height: 1px;
  }
  #left-container {
    font-size: 1.6vh;
    text-align: justify;
    margin-left: 10%;
    width: 80%;
    display: inline;
  }
  #right-container {
    font-size: 1.6vh;
    text-align: center;
    width: 80%;
    display: inline;
  }
  .right-container-img {
    width: 100% !important;
    margin-top: 5%;
    margin-left: -25%;
    /* margin-left: 10%; */
  }
  #top-img {
    /* width: 80% !important; */
    width: 100% !important;
    margin: auto;
    float: none;
  }
  .page-content-central-text-block {
    width: 80%;
  }
  .page-content {
    height: auto;
  }
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
