/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Effra Rg";
  src: local("Effra Rg"), url(./assets/fonts/Effra_Std_Rg.ttf) format("truetype");
}
@font-face {
  font-family: "Effra Lt";
  src: local("Effra Lt"), url(./assets/fonts/Effra_Std_Lt.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Lt";
  src: local("Helvetica Neue Lt"), url(./assets/fonts/helvetica-neue-light.ttf) format("truetype");
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 3% !important;
  font-family: "Helvetica Neue Lt"
}
.conditional-break {
  display: none;
}
.page-content {
  background-color: #F6F8F9;
  height: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 2%;
  padding-left: 4%;
  font-size: 0.95vw;
}
@media screen and (max-width: 768px) {
  .page-content {
    font-size: 1.6vh;
  }
  .conditional-break {
    display: block;
    line-height: 1px;
  }
}
