<div class="page-content">
    <div id="top-container">
      <div id="left-container">
        <div class="left-text">
            <p>
              SOUND IS VISUALLY RICH. Using ...
            </p>
        </div>
        <div id="left-container-sound">
          <img class="left-container-img-sound" id="left-sound" src="../../assets/left_spec_1.png" alt="">
          <img class="left-container-img-sound" id="right-sound" style="margin-left: 0.5vw" src="../../assets/left_spec_2.png" alt="">
        </div>
      </div>
      <div id="right-container">
          <img class="right-container-img-ml" style="margin-left: 3%;" src="../../assets/sound_pictorial_1.jpg" alt="">
          <img class="right-container-img-ml" src="../../assets/sound_pictorial_2.jpg" alt="">
      </div>
    </div>
    <div id="bottom-container">
    </div>
  </div>
