<div class="page-content">
    <div id="top-container">
      <div id="left-container">
        <div class="left-text-sound">
            <p>
              <i>SOUND IS VISUALLY RICH</i> &nbsp; There are many ways of visually representing sound waves. I use a device that records audio below the range of human hearing, exposing atmospheric frequencies usually taken for granted.
            </p>
            <p>
              <i>MECHANICAL AQUATINT</i> &nbsp; Below is the spectrogram (plot of frequency bands over time) of a few second recording. Using a sample of this image, I can map tones of gray to dots-per-pixel, and recreate gray tones through plotter printing.
              Because the tones are printed by a plotter machine, and created using randomly distributed dots, it mimics the method of traditional air-dispersed resin aquatint for tonework.
            </p>
        </div>
        <div id="left-container-sound">
          <img class="left-container-img-sound" id="left-sound" src="../../assets/left_spec_1.png" alt="">
          <img class="left-container-img-sound" id="right-sound" style="margin-left: 0.5vw" src="../../assets/left_spec_2.png" alt="">
        </div>
      </div>
      <div id="right-container">
          <img class="right-container-img-ml" style="margin-left: 3%;" src="../../assets/sound_pictorial_1.jpg" alt="">
          <img class="right-container-img-ml" src="../../assets/sound_pictorial_2.jpg" alt="">
      </div>
    </div>
    <div id="bottom-container">
    </div>
  </div>
